<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AgricultureLandMapper">

    <resultMap type="AgricultureLand" id="AgricultureLandResult">
        <result property="landId"    column="land_id"    />
        <result property="landName"    column="land_name"    />
        <result property="landType"    column="land_type"    />
        <result property="landArea"    column="land_area"    />
        <result property="strokeWeight"    column="stroke_weight"    />
        <result property="strokeColor"    column="stroke_color"    />
        <result property="strokeOpacity"    column="stroke_opacity"    />
        <result property="landPath"    column="land_path"    />
        <result property="fillColor"    column="fill_color"    />
        <result property="fillOpacity"    column="fill_opacity"    />
        <result property="currentBatch"    column="current_batch"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="orderNum"    column="order_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="cropName"    column="crop_name"    />
    </resultMap>

    <sql id="selectAgricultureLandVo">
        select
            l.land_id, l.land_name, l.land_type, l.land_area,
            l.stroke_weight, l.stroke_color, l.stroke_opacity,
            l.land_path, l.fill_color, l.fill_opacity,
            l.current_batch, l.remark, l.status, l.order_num,
            l.create_by, l.create_time, l.update_by, l.update_time, l.del_flag,
            g.germplasm_name as crop_name
        from agriculture_land l
                 left join agriculture_crop_batch b on l.current_batch = b.batch_id
                 left join agriculture_germplasm g on b.germplasm_id = g.germplasm_id
    </sql>

    <select id="selectAgricultureLandList" parameterType="AgricultureLand" resultMap="AgricultureLandResult">
        <include refid="selectAgricultureLandVo"/>
        <where>
            <if test="landName != null  and landName != ''"> and l.land_name like concat('%', #{landName}, '%')</if>
            <if test="landType != null  and landType != ''"> and l.land_type = #{landType}</if>
            <if test="landArea != null "> and l.land_area = #{landArea}</if>
            <if test="strokeWeight != null "> and l.stroke_weight = #{strokeWeight}</if>
            <if test="strokeColor != null  and strokeColor != ''"> and l.stroke_color = #{strokeColor}</if>
            <if test="strokeOpacity != null "> and l.stroke_opacity = #{strokeOpacity}</if>
            <if test="landPath != null  and landPath != ''"> and l.land_path = #{landPath}</if>
            <if test="fillColor != null  and fillColor != ''"> and l.fill_color = #{fillColor}</if>
            <if test="fillOpacity != null "> and l.fill_opacity = #{fillOpacity}</if>
            <if test="currentBatch != null "> and l.current_batch = #{currentBatch}</if>
            <if test="status != null  and status != ''"> and l.status = #{status}</if>
            <if test="orderNum != null "> and l.order_num = #{orderNum}</if>
            <if test="cropName != null  and cropName != ''"> and g.germplasm_name like concat('%', #{cropName}, '%')</if>
        </where>
    </select>

    <select id="selectAgricultureLandByLandId" parameterType="String" resultMap="AgricultureLandResult">
        <include refid="selectAgricultureLandVo"/>
        where l.land_id = #{landId}
    </select>

    <insert id="insertAgricultureLand" parameterType="AgricultureLand" useGeneratedKeys="true" keyProperty="landId">
        insert into agriculture_land
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="landName != null and landName != ''">land_name,</if>
            <if test="landType != null and landType != ''">land_type,</if>
            <if test="landArea != null">land_area,</if>
            <if test="strokeWeight != null">stroke_weight,</if>
            <if test="strokeColor != null and strokeColor != ''">stroke_color,</if>
            <if test="strokeOpacity != null">stroke_opacity,</if>
            <if test="landPath != null and landPath != ''">land_path,</if>
            <if test="fillColor != null and fillColor != ''">fill_color,</if>
            <if test="fillOpacity != null">fill_opacity,</if>
            <if test="currentBatch != null">current_batch,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="landName != null and landName != ''">#{landName},</if>
            <if test="landType != null and landType != ''">#{landType},</if>
            <if test="landArea != null">#{landArea},</if>
            <if test="strokeWeight != null">#{strokeWeight},</if>
            <if test="strokeColor != null and strokeColor != ''">#{strokeColor},</if>
            <if test="strokeOpacity != null">#{strokeOpacity},</if>
            <if test="landPath != null and landPath != ''">#{landPath},</if>
            <if test="fillColor != null and fillColor != ''">#{fillColor},</if>
            <if test="fillOpacity != null">#{fillOpacity},</if>
            <if test="currentBatch != null">#{currentBatch},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateAgricultureLand" parameterType="AgricultureLand">
        update agriculture_land
        <trim prefix="SET" suffixOverrides=",">
            <if test="landName != null and landName != ''">land_name = #{landName},</if>
            <if test="landType != null and landType != ''">land_type = #{landType},</if>
            <if test="landArea != null">land_area = #{landArea},</if>
            <if test="strokeWeight != null">stroke_weight = #{strokeWeight},</if>
            <if test="strokeColor != null and strokeColor != ''">stroke_color = #{strokeColor},</if>
            <if test="strokeOpacity != null">stroke_opacity = #{strokeOpacity},</if>
            <if test="landPath != null and landPath != ''">land_path = #{landPath},</if>
            <if test="fillColor != null and fillColor != ''">fill_color = #{fillColor},</if>
            <if test="fillOpacity != null">fill_opacity = #{fillOpacity},</if>
            <if test="currentBatch != null">current_batch = #{currentBatch},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where land_id = #{landId}
    </update>

    <delete id="deleteAgricultureLandByLandId" parameterType="String">
        delete from agriculture_land where land_id = #{landId}
    </delete>

    <delete id="deleteAgricultureLandByLandIds" parameterType="String">
        delete from agriculture_land where land_id in
        <foreach item="landId" collection="array" open="(" separator="," close=")">
            #{landId}
        </foreach>
    </delete>
</mapper>